* {
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
  margin: 0;

  background: white;
  font-family: system-ui, sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
}
nav .bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
  background-color:#426B1F
}
nav .bar .logo {
  font-size: 32px;
  font-weight: 500;
  color: white;
}
nav .bar .links {
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0px;
  padding: 0px;
  color: white;

  font-size: 20px;
  cursor: pointer;
}
.line-container {
  display: flex;
  gap: 8px;
  width: 100%;
  height: 34px;

  justify-content: space-between;
}
.line-label {
  width: 100%;
  height: 34px;
  margin: auto;

  display: flex;
  align-items: center;

  padding: 8px;
  background-color:#426B1F;
  color: white;
}
.session {
  display: flex;

  padding: 6px 6px;
  width:fit-content;

  color: white;
  background-color:#426B1F;
}
.session p {
  margin: auto;
  padding: 0px 12px;
}
.session li {
  color: black;
  background-color: white;
  padding: 3px 12px;
  list-style: none;

  cursor: pointer;
}
.login {
  position: absolute;
  visibility: hidden;

  padding: 6px 6px;
  margin: 0px 0px 6px 0px;
  width: 100%;

  font-size: 20px;
  color: white;
  background-color:#426B1F;
  cursor: pointer;
}

/*  Customer Page
    The customer page is a flexbox. It contains 3 objects within it:
    |=======================|
    |     NavigationBar     |
    |=======================|
    |    Query    |   [edit]|
    |    Table    |    [del]|
    |=============|         |
    |             |  Client |
    |   Rental    |  Info   |
    |   History   |         |
    |=============|=========|

*/
.customer-page {
  /* Flex Table properties */
  display: flex;
  flex-direction: row;
  gap: 6px;

  flex: 1;
  min-height: 0;
  margin: 6px 6px 6px 6px;
}
.customer-page-left {
  /* Flex Table properties */
  display: flex;
  flex-direction: column;
  gap: 6px;
  
  flex: 7;
}
.customer-page-right {
  display: flex;
  flex-direction: column;
  gap: 6px;

  flex: 3;
}

.customer-table {
  border: 1px solid #bbbbbb;
  overflow: auto;
}
.customer-table td{
  height: 36px;
  cursor: pointer;
}
.outgoing-history {
  border: 1px solid #bbbbbb;
  overflow: auto;
}
.rental-history {
  border: 1px solid #bbbbbb;
  overflow: auto;
  flex: 1;
}
.customer-info {
  border: 1px solid #bbbbbb;
  padding: 8px;

  overflow: auto;
  flex: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  padding: 6px 8px;
  text-align: left;
}
tr {
  height: 36px;
}
table tr:first-child {
  position: sticky;
  top: 0;
}
table tr:nth-child(odd) {
  background-color: white;
}
table tr:nth-child(even) {
  background-color: #dddddd;
}



